<template id="cube-h1-template">
  <link rel="stylesheet" href="/demo.components/cube-h1.css">
  <div>
    <h1 class="pink_title"><slot></slot></h1>
  </div>
</template>
<script>

  class H1Title extends Cube {

    get template() {
      return "#cube-h1-template"
    }
    constructor() {
      super()
    }
    connected() {
      const content = this.getAttribute('content')
      this.render(content)
    }

    render(data) {
      console.log("🦊", data)
      this.shadowRoot.querySelector('h1').innerHTML = data;
    }
  }
  
  Cube.register({tag: "cube-h1", component: H1Title})
    
</script>