<template id="cube-h2-template">
  <link rel="stylesheet" href="/demo.components/cube-h2.css">
  <h2 class="blue_title"><slot></slot></h2>
</template>
<script>
  class H2Title extends Cube {

    get template() {
      return "#cube-h2-template"
    }
    constructor() {
      super()
    }
    connected() {
      const content = this.getAttribute('content')
      this.render(content)
    }

    render(data) {
      console.log("🦊", data)
      if(data) {this.shadowRoot.querySelector('h2').innerHTML = data;}
    }
  }

  Cube.register({tag: "cube-h2", component: H2Title})
  
</script>