.blue_title
{
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 42px;
  color: #356adb;
  word-spacing: 5px;
  padding-bottom: 15px;
}
