.orange_title
{
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 30px;
  color: #cf5224;
  letter-spacing: 1px;
}
::slotted(p) {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}