<template id="nice-title-template">
  <link rel="stylesheet" href="/demo.components/nice-title.css">
  <div>
    <h1 class="orange_title">Hello 👋 🌍 🦊</h1>
    <slot></slot>
  </div>
  
</template>
<script>

  class NiceTitle extends Cube {

    get template() {
      return "#nice-title-template"
    }
    constructor() {
      super()
    }
    connected() {
      console.log("+++>> owner", NiceTitle.owner)
    }
  }

  Cube.register({tag: "nice-title", component: NiceTitle})
</script>