
<template id="other-title-template">
  <link rel="stylesheet" href="/demo.components/other-title.css">
  <link rel="import" href="/demo.components/nice-title.html">
  
  <div>
    <h1 class="green_title"></h1>  
    <nice-title>😍</nice-title>
    <nice-title>🚧</nice-title>
    <nice-title><p>Hello</p></nice-title>
    <hr>
    <slot></slot>  
  </div>
  
</template>

<script>

  class OtherTitle extends Cube {

    get template() { return "#other-title-template" }

    connected() {
      const content = this.getAttribute('content')
      this.render(content)
    }
    render(data) {
      this.shadowRoot.querySelector('h1').innerHTML = data;
    }
  }

  Cube.register({tag: "other-title", component: OtherTitle})

</script>
